<style>
	.titre div {
        max-width: 500px;
		display: flex;
		flex-direction: column;
	}
	input {
		font-size: 0.8em;
		padding: 5px;
		border-radius: 4px;
		border: 1px solid gray
	}
</style>
{{ form_start(form) }}
<div class="titre">
	{{ form_row(form.Titre) }}
</div>
<button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
