{% extends 'base.html.twig' %}

{% block title %}Modifier la catégorie{% endblock %}

{% block body %}
    <h2>Modifier la catégorie</h2>

    {{ include('categories/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('categories/_delete_form.html.twig') }}
{% endblock %}
