{% extends 'base.html.twig' %}

{% block title %}Categories
{% endblock %}

{% block body %}
	<h1>Categories</h1>
	{% for categorie in categories %}
		<a href="{{ path('app_categories_show', {'id': categorie.id}) }}">{{categorie.titre}}</a>
		<br>
	{% else %}
		<span>Aucune catégorie existante😕</span>
		<br>
	{% endfor %}
	{% if is_granted('ROLE_ADMIN') %}
		<br>
		<a href={{path("app_categories_new")}}>Créer une nouvelle catégorie➕</a>
	{% endif %}
{% endblock %}
