{% extends 'base.html.twig' %}

{% block title %}Créer une categorie{% endblock %}

{% block body %}
    <h2>Créer une nouvelle catégorie</h2>

    {{ include('categories/_form.html.twig') }}
{% endblock %}
