{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!
{% endblock %}

{% block body %}
	<div>
		<h1>Accueil</h1>
		{% for categorie in categories %}
			<a href={{path("app_categories_show", {id : categorie.id} )}}>{{categorie.titre}}<a/>
			{% endfor %}
			<br>
			{% if is_granted('ROLE_ADMIN') %}

				<a href={{path("app_categories_new")}}>Créer une nouvelle catégorie</a>
				<br>
				<a href={{path("app_articles_new")}}>Créer un nouveau article</a>
			{% endif %}
		</div>
	{% endblock %}
