<style>
.btn-delete{
    background: transparent;
    padding: 0;
    border: none;
    font-size: 1em;
    text-decoration: underline;
    cursor: pointer;
}
</style>
<form method="post" action="{{ path('app_articles_delete', {'id': article.id}) }}" id="delete-form" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="btn-delete">Supprimer l'article❌</button>
</form>
