{% extends 'base.html.twig' %}

{% block title %}Modifier l'article{% endblock %}

{% block body %}
    <h1>Modifier l'article</h1>

    {{ include('articles/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('articles/_delete_form.html.twig') }}
{% endblock %}
